{% extends 'layout.html' %}

{% load static %}

{% block title %}
    {% if title %}
        {{title}}
    {% else %}
        Berries
    {% endif %}
{% endblock %}

{% block content %}

    <br>
    
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 100rem;">
            <div class="card-body">
    
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        There are {{nberries}} berries to list
                    </div>
                    <div class="card-body">

                        <div class="col align-self-start">
                        <ul class="list-group list-group-light">
                            {% for berry_name in berry_names %}            
                                <li class="list-group-item">{{forloop.counter}}. {{berry_name}}</li>
                            {% endfor %}
                        </ul>                            
                        </div>

                    </div>
                </div>

                <br>
    
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        Statistics
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-light">
                            {% for key, value in berries_dicc.items %}        
                                {% if key == 'min_growth_time' %}    
                                    <li class="list-group-item">{{forloop.counter}}. Minimum: {{value}}</li>
                                {% elif key == 'median_growth_time' %}
                                    <li class="list-group-item">{{forloop.counter}}. Median: {{value}}</li>
                                {% elif key == 'variance_growth_time' %}
                                    <li class="list-group-item">{{forloop.counter}}. Variance: {{value}}</li>
                                {% elif key == 'mean_growth_time' %}
                                    <li class="list-group-item">{{forloop.counter}}. Mean: {{value}}</li>
                                {% elif key == 'frequency_growth_time' %}
                                    <li class="list-group-item">{{forloop.counter}}. Frequency: {{value}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <br>
    
                <div class="card" style="width: auto;">
                    <div class="card-header">
                        Berries histogram
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'img/berries_hist.png' %}" class="rounded">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}